@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin absolute-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin green-gradient($direction: 135deg) {
    background: linear-gradient($direction, var(--primary-color), var(--secondary-color));
}
